*{
    padding: 0px;
    margin: 0px;
}

body{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header{
    width: 100%;
    height: 20%;
    border-bottom: #EEEEEE solid 1px;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav{
    background-color: #222831;
    height: 70px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.topic {
    font-size: 50px;
    font-weight: bold;
    color: #EEEEEE;
}

.page{
    color: #EEEEEE;
    font-size: 25px;
    font-weight: bold;
}

.goTo {
    color: #EEEEEE;
    font-size: 20px;
    font-weight: bold;
}

main{
    overflow-x: hidden;
    width: 100%;
    padding-top: 20px;
    background-color: #00ADB5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url("https://i.pinimg.com/originals/3c/29/ff/3c29ffc6379493eb3ec6901ff4fc85af.jpg");
    background-size: cover;
}

#upper{
    height: 500px;
    width: 100%;
    padding: 20px;
    margin-bottom: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.side-container{
    margin-top: 20px;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.subtitle{
    padding: 15px;
    margin: 10px;
    background-color: #00ADB5;
    color: #222831;
    font-weight: bold;
    font-size: 40px;
    border-radius: 15px;
}

#myForm{
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: solid 2px #EEEEEE;
    background-color: #00ADB5;
}

.fieldContainer{
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.field{
    margin: 3px;
    background-color: #EEEEEE;
    font-size: 15px;
    font-weight: bold;
}

.fieldLabel{
    color: black;
    font-weight: bold;
    font-size: 20px;
    margin: 4px;
}

.legend{
    font-size: 20px;
    color: #222831;
    font-weight: bold;
}

.buttonDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.submit{
    padding: 10px;
    margin: 4px;
    font-size: 30px;
    color: white;
    font-weight: bold;
    background-color: black;
}

#del{
    padding: 10px;
    margin: 15px;
    font-size: 30px;
    color: rgb(255, 0, 0);
    font-weight: bold;
    background-color: black;
}

#cards{
    overflow-x: hidden;
    overflow-y: auto;
    height: 450px;
    width: 350px;
    background-color: #00ADB5;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 45px;
    border: solid 1px #222831;
}

#lower{
    height: 500px;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.depart{
    overflow-x: hidden;
    overflow-y: auto;
    height: 450px;
    width: 20%;
    background-color: #00ADB5;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 45px;
    border: solid 1px #222831;
}

::-webkit-scrollbar {
    width: 20px;
    background-color: #00ADB5;
  }
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    color: transparent;
    border-radius: 10px;
  }
   
::-webkit-scrollbar-thumb {
    background: #222831; 
    border-radius: 10px;
  }
  
::-webkit-scrollbar-thumb:hover {
    background: #4d5a6e; 
  }


footer{
    width: 100%;
    height: 20%;
    padding: 20;
    background-color: #393E46;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
}

.footerP{
    color: #EEEEEE;
}

